HackeryExamplesProject/.idea/.name
HackeryExamplesProject/.idea/compiler.xml
HackeryExamplesProject/.idea/gradle.xml
HackeryExamplesProject/.idea/misc.xml
HackeryExamplesProject/.idea/modules.xml
HackeryExamplesProject/.idea/vcs.xml
HackeryExamplesProject/.idea/copyright/profiles_settings.xml
HackeryExamplesProject/.idea/dictionaries/jasonrobinson.xml
